# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
*.sqlite3-journal
db_backup_*.sqlite3
staticfiles/
media/

# Environment variables — NE JAMAIS committer !
.env
.env.local
.env.production

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
